# ignore local configuration
application/configs/application.ini

# ignore data directories
data/cache/application/*
data/cache/htmlpurifier/*
data/logs/*
data/lucene/*
data/sql-dumps/*
data/uploads/*


