<VirtualHost *:80>
    ServerName sageweb

    DocumentRoot /home/username/projects/sageweb/public/
    <Directory />
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog "/home/username/projects/sageweb/error.log"
</VirtualHost>
